src/main/webapp/META-INF/security_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="security">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="constraint">
                    <xs:complexType>
                        <xs:element name="url-pattern" type="xs:string"/>
                        <xs:sequence>
                            <xs:element name="role" type="xs:string" minOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>